In [2]:
import findspark

In [3]:
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop3.2')

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

/home/ubuntu/spark-3.2.1-bin-hadoop3.2/python/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [10]:
df = spark.read.json('people.json', multiLine=True)

In [11]:
df.show()

+---+-------+
|age|   name|
+---+-------+
| 77|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [63]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [64]:
df.columns

['age', 'name']

In [65]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [66]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 3|      3|
|   mean|              42.0|   null|
| stddev|30.805843601498726|   null|
|    min|                19|   Andy|
|    max|                77|Michael|
+-------+------------------+-------+

From here till df.printSchema(), do not run it, its only to show that we can change schema manually.

In [67]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

In [74]:
data_schema = [StructField('age',IntegerType(),False), StructField('name',StringType(),False)]

In [75]:
final_struc = StructType(fields=data_schema)

In [76]:
df = spark.read.json('people.json',schema=final_struc)

In [77]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [12]:
df.show()

+---+-------+
|age|   name|
+---+-------+
| 77|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [13]:
df.select('age').show()

+---+
|age|
+---+
| 77|
| 30|
| 19|
+---+

In [14]:
df.head(2)

[Row(age=77, name='Michael'), Row(age=30, name='Andy')]

In [16]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [17]:
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [20]:
df.withColumn('newage',df['age']*2).show()

+---+-------+------+
|age|   name|newage|
+---+-------+------+
| 77|Michael|   154|
| 30|   Andy|    60|
| 19| Justin|    38|
+---+-------+------+

In [21]:
df.show()

+---+-------+
|age|   name|
+---+-------+
| 77|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [23]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|        77|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [25]:
df.createOrReplaceTempView('people')

In [27]:
results = spark.sql("Select * from people")

In [28]:
results.show()

+---+-------+
|age|   name|
+---+-------+
| 77|Michael|
| 30|   Andy|
| 19| Justin|
+---+-------+

In [29]:
new_results = spark.sql("select * from people where age > 35")

In [30]:
new_results.show()

+---+-------+
|age|   name|
+---+-------+
| 77|Michael|
+---+-------+